* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding: 15px 50px;

}

.logo {
    font-size: 40px;
    font-weight: bold;
}

.navbar2 {
    display: flex;
    list-style: none;
    gap: 35px;
}

.navbar2 li {
    cursor: pointer;
    opacity: 0.8;
}

.navbar2 .active {
    color: #5a4bff;

}

.nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn {
    background: blue;
    color: white;
    border: none;
    padding: 11px 25px;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2d2f3a;
    color: white;
    padding: 60px;
}
.hero2{
    max-width: 500px;
}
.hero h1 {
    font-size: 36px;
    margin-bottom: 15px;
    padding-right: 150px;
}

.hero h6 {
    margin-bottom: 25px;
    color: #ccc;

}

.watch{
    padding: 15px 40px;
    background: transparent;
    color: white;
    border-radius: 30px;
}

.hero img{
    height: 450px;
    width: 700px;
    padding-left: 10px;
}


.filter-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 60px;
    background: #f0f0f0;
}

.filter-menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.filter-menu li {
    font-size: 14px;
    color: #888;
    cursor: pointer;
}


.products {
    text-align: center;
    padding: 100px 20px;
}
.products p{
    color: gray;
}

.products h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

.card img {
    width: 100%;
}

.card h3 {
    margin: 10px 5px;
}

.card span {
    color: #5a4bff;
    font-weight: bold;
}

.footer {
    background: black;
    color: #aaa;
    padding: 20px 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .left {
    font-size: 12px;
}

.footer .center {
    display: flex;
    gap: 20px;
}

.footer .center i {
    color: white;
}
.footer .right a {
    color: white;
    text-decoration: underline;
    font-size: 12px;
}


@media (max-width: 575px) {

    .navbar {
        flex-direction: column;
        padding: 15px;
    }

    .hero {
        flex-direction: column;
        padding: 40px 20px;
        text-align: center;
    }

    .hero-img img {
        height: 200px;
        width: 220px;
    }

    .product-grid {
        flex-direction: column;
        align-items: center;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}


@media (min-width: 576px) and (max-width: 767px) {

    .hero {
        flex-direction: column;
        padding: 50px 30px;
    }

    .hero-img img {
        height: 250px;
        width: 300px;
    }

    .product-grid {
        flex-direction: column;
        align-items: center;
    }
}


@media (min-width: 768px) and (max-width: 991px) {

    .hero {
        padding: 20px 20px;
    }

    .hero-img img {
        padding: 50px;
        height: 200;
        width: 500px;
    }

    .product-grid {
        gap: 30px;
    }
}


@media (min-width: 992px) and (max-width: 1199px) {

    .hero {
        padding: 50px 10px;
    }

    .hero-img img {
        height: 350px;
        width: 500px;
    }

    .product-grid {
        gap: 30px;
    }
}


@media (min-width: 1200px) and (max-width: 1399px) {

    .hero {
        padding: 50px 20px;
    }

    .hero-img img {
        height: 400;
        width: 600px;
    }
}


@media (min-width: 1400px) {

    .hero {
        padding: 100px 120px;
    }


    .hero-img img {
        height: 450px;
        width: 700px;
    }

    .product-grid {
        gap: 60px;
    }
}